@font-face {
    font-family:NetflixSansRegular;
    src: url(/src/font/NetflixSansRegular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    font-family:NetflixSansRegular, sans-serif;
    background-color: #141414;
    color: white;
    margin: 0 ;
}
.listas{
    margin-top: -150px;
}
footer{
    display: flex;
    justify-content: space-around;
    background: #e50914;
    bottom: 0;

}
footer h1{
    font-size: 0.7rem;
}
.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100000;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 100%;
}